<div class="container">
  <form (ngSubmit)="onSubmit()" class="form">
    <h2 class="form-heading">Enter a date</h2>

    <label for="inputDate" class="sr-only">Date</label>
    <input type="date" [ngModel]="inputDate | date:'yyyy-MM-dd'" (ngModelChange)="inputDate = $event" name="inputDate" class="form-control"/>

    <label for="inputDateText" class="sr-only">Date</label>
    <input type="text" id="inputDateText" name="inputDateText" [(ngModel)]="inputDateText" class="form-control" placeholder="Date Text">

    <label for="orderDate" class="sr-only">Date</label>
    <input type="text" id="orderDate" name="inputDateText" [(ngModel)]="orderDate" class="form-control" placeholder="Order Date">

    <button class="btn btn-primary btn-block" type="submit">
      Send date
    </button>
  </form>
</div>
<div *ngIf="response" class="panel panel-default">
  <pre>{{response | json}}</pre>
</div>
